annotated-types
anyio
certifi
chardet
charset-normalizer
click
exceptiongroup
fastapi
googletrans
gTTS
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
pydantic
pydantic-core
python-multipart
requests
rfc3986
sniffio
SpeechRecognition
starlette
typing-extensions
urllib3
uvicorn
isort
flake8
safety
